.Form {
    border: none;
    border-bottom: 2px #00d1ff solid;
  }
  
  .Button {
    border: none;
    background-color: black;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-family: "Metal mania", sans-serif
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }