.NavBar {
    font-family: "Metal Mania", sans-serif;
    font-size: 100px;
    color: #c0c0c0;
}

.NavLink {
    font-family: "Metal Mania", sans-serif;
    font-size: 25px;
}

.silverColor {
    color: #c0c0c0;
  }