.NavBar {
    font-family: "Metal Mania", sans-serif;
    font-size: 100px;
    color: #c0c0c0;
}

.NavLink {
    font-family: "Metal Mania", sans-serif;
    font-size: 25px;
    color: black;
    padding: 5px;
}

.Active i {
    color: #2142b2;
  }